@import '~antd/dist/antd.dark';

@primary-color: #d71616;

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.content {
  padding: 0 50px;
  overflow-y: auto;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.full {
  height: 100%;
}

.scroll {
  overflow-y: scroll;
}

.fullpage {
  &:extend(.fullpage-w);
  &:extend(.fullpage-h);
}

.fullpage-w {
  width: 100vw;
  max-width: 100vw;
}

.fullpage-h {
  height: 100vh;
  max-height: 100vh;
}

.hideoverflow {
  overflow: hidden;
}

header {
  min-height: 64px !important;
  max-height: 64px !important;
}

main {
  min-height: calc(100vh - 64px) !important;
  max-height: calc(100vh - 64px) !important;
}

div .tool-container {
  min-height: calc(100% - 72px);
  max-height: calc(100% - 72px);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.fillable {
  display: flex;
  flex-flow: column;
  height: 100%;

  .fillspace {
    flex: 1 1 auto;
  }
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.ant-typography ol[type="A"] { list-style-type: lower-alpha; }
.ant-typography ol[type="a"] { list-style-type: upper-alpha; }
.ant-typography ol[type="i"] { list-style-type: upper-roman; }
.ant-typography ol[type="I"] { list-style-type: lower-roman; }

.ant-modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

div[disabled] {
  pointer-events: none;
  opacity: 0.7;
}
